# Eclipse #
/.classpath
/.project
/.settings/*
!/.settings/org.eclipse.jdt.core.prefs

# IntelliJ #
*.iml
*.iws
*.ipr
\.idea/

# Maven #
/target/
/doc/
/docs/
/natives/

# Misc #
.checksums
pom.xml.releaseBackup

# Binaries #
*.jar
*.class
/bin/
!jars/*

# Notebooks #
\.ipynb_checkpoints/
__pycache__/
*.py[cod]

# MacOS
*.DS_Store
