# Non-scijava plugins
Analyze>Skeleton, "Summarize Skeleton", sc.fiji.snt.plugin.ij1.SummarizeSkeleton

# org.scijava.plugin.Menu weights seem to work only for second-order submenus. We need to create an entry here
# to make sure the Neuroanatomy menu registers with IJ1 submenus (and not at the bottom of the Plugins menu)
Plugins>Neuroanatomy>Sholl, "-", ""
