# https://forum.image.sc/t/macro-recording-of-sholl-analysis-plugin-failing/50759
Plugins>Neuroanatomy>Sholl>Legacy Commands, "Legacy: Sholl Analysis (From Image)...", sc.fiji.snt.plugin.ij1.Sholl_Analysis("image")
Plugins>Neuroanatomy>Sholl>Legacy Commands, "Legacy: Sholl Metrics & Options...", sc.fiji.snt.plugin.ij1.ShollOptions
